[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/chkg2a/ohmyzsh.git
[submodule ".local/share/clone/dwm"]
	path = .local/share/clone/dwm
	url = https://github.com/chkg2a/dwm.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/chkg2a/neovim.git
[submodule ".local/share/clone/dwmblocks"]
	path = .local/share/clone/dwmblocks
	url = https://github.com/chkg2a/dwmblocks
[submodule ".local/share/clone/dmenu"]
	path = .local/share/clone/dmenu
	url = https://github.com/chkg2a/dmenu
